<link rel="stylesheet" href="static/styles/dash.css" type="text/css">

<!--SIDE NAVIGATION-->
<div class="sidenav">
    <a href="/dash">Home</a>
    <a href="/bots">Bots</a>
    <a href="/request-bot">Request bot</a>
    <a href="/request-functionality">Request functionality</a>
    <a href="/contact">Contact</a>
    <a href="/account">Account</a>
    {% if session['admin'] == 'y' %}
    <a href="/requests">Manage Requests</a>
    {% endif %}
</div>

<!--PAGE CONTENT-->
<form action="/logout" method="POST">
    <div class="logout">
        <input type="submit" value="Log Out" class="btn btn-primary btn-large btn-block">
    </div>
</form>
<div class="header">
    <h1>DASHBOARD</h1>
</div>
<div class="main">
    {% if session['page'] == 'dash' %}
    <h1>Home</h1>
    <p>This is the home page for the Flachsbot. Bots can be requested using the "request-bot" functionality and then
        bots can be managed from "bots." Suggested functionalities can be sent through the "request functionality" tab.</p>
    {% elif session['page'] == 'bots' %}
    <h1>Bots</h1>
    <h2>Approved Bots</h2>
    {% for bot in session['approved-bots'] %}
        <h4>{{ bot['bot_id'] }}</h4>
        <form action="/delete-bot?id={{ bot['bot_id'] }}" method="POST">
            <div class="logout">
                <input type="submit" value="Log Out" class="btn btn-primary btn-large btn-block">
            </div>
        </form>
    {% endfor %}
    <h2>Unapproved Bots</h2>
    {% for bot in session['unapproved-bots'] %}
        <h4>{{ bot['bot_id'] }}</h4>
        <form action="/cancel-bot?id={{ bot['bot_id'] }}" method="POST">
            <div class="logout">
                <input type="submit" value="Log Out" class="btn btn-primary btn-large btn-block">
            </div>
        </form>
    {% endfor %}
    {% elif session['page'] == 'request-bot' %}
    <h1>Request Bot</h1>
    <h4>Submit a request for a bot using the groupme Group ID and bot token.</h4>
    <form action="/request-bot-form" method="POST">
        <div class="request">
            <div class="request-screen">
                <div class="app-title">
                    <h2>Bot information</h2>
                </div>
                <div class="login-form">
                    <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="Group ID" name="GID">
                        <label class="login-field-icon fui-user" for="login-name"></label></div>
                    <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="Bot token" name="token">
                        <label class="login-field-icon fui-lock" for="login-pass"></label></div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block">
                </div>
            </div>
        </div>
    </form>
    {% elif session['page'] == 'request-functionality' %}
    <h1>Request functionality</h1>
    <h4>Feel free to put in suggestions for different things you want to see with this bot and website!</h4>
    {% elif session['page'] == 'contact' %}
    <h1>Contact information</h1>
    <p>I can be reached by email at <a href=mailto:flachsbot@gmail.com>flachsbot@gmail.com</a></p>
    {% elif session['page'] == 'account' %}
    <h1>Account details</h1>
    {% elif session['page'] == 'requests' %}
    {% if session['admin'] == 'y' %}
    <h1>Manage Requests</h1>
    <form action="/approve-bot" method='POST'>
        {% for request in session['requests'] %}
        <div class="inline">
            <input type="checkbox" name="{{ request['bot_id'] }}" value="{{ request['user_id'] }}" class="btn btn-primary btn-large btn-block">
        </div>
        <h4>User ID : {{request['user_id']}}</h4>
        {% endfor %}
        <br>
        <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block">
    </form>
    {% endif %}
    {% endif %}
</div>